@import url("icon/icons.css");
@font-face {
  font-family: "hp-simplified";
  src: url("hp-simplified.ttf");
}

@font-face {
  font-family: "bahnschrift";
  src: url("bahnschrift.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  word-break: keep-all;
  scrollbar-width: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: hp-simplified;
  scroll-behavior: smooth;
}

body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

::scrollbar {
  width: 0px !important;
}

*::scrollbar {
  width: 0px !important;
}

*::-webkit-scrollbar {
  width: 0px !important;
}

*::-moz-scrollbar {
  width: 0px !important;
}

*::-ms-scrollbar {
  width: 0px !important;
}

*::-moz-osx-scrollbar {
  width: 0px !important;
}

*::-o-scrollbar {
  width: 0px !important;
}

.flex-normal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-baselize {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.page {
  width: 100%;
  padding: 2rem;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fw {
  font-weight: 900;
}

@-webkit-keyframes initScro {
  from {
    opacity: 0.2;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes initScro {
  from {
    opacity: 0.2;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.toggleSvg {
  z-index: 3;
  left: .8rem;
  height: 30px;
  width: 30px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.toggleSvg svg {
  top: 2px;
  left: -3px;
  z-index: -1;
  color: #fff;
  padding: 0.1rem;
  position: relative;
}

.toggleSvg svg path {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  ul.nav {
    opacity: 0;
    display: none !important;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: opacity 1s, -webkit-transform 0.8s ease-out;
    transition: opacity 1s, -webkit-transform 0.8s ease-out;
    transition: opacity 1s, transform 0.8s ease-out;
    transition: opacity 1s, transform 0.8s ease-out, -webkit-transform 0.8s ease-out;
  }
  .toggleSvg {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.initScroll {
  z-index: 0;
  height: 100vh;
  inset: 0 0 0 0;
  position: relative;
  text-align: center;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  background-position-y: 0px;
  background-position: center;
  -webkit-animation: bounce .8s ease-out;
          animation: bounce .8s ease-out;
  background: url("../src/01.webp") no-repeat;
  background-size: cover;
  -webkit-animation-timing-function: cubic-bezier(0.9, 0.5, 0.8, 0.4);
          animation-timing-function: cubic-bezier(0.9, 0.5, 0.8, 0.4);
  -webkit-transition: background-position-y 0.1s, background-position 0.4s ease-out, -webkit-clip-path 0.3s;
  transition: background-position-y 0.1s, background-position 0.4s ease-out, -webkit-clip-path 0.3s;
  transition: background-position-y 0.1s, clip-path 0.3s, background-position 0.4s ease-out;
  transition: background-position-y 0.1s, clip-path 0.3s, background-position 0.4s ease-out, -webkit-clip-path 0.3s;
}

.initScroll h1 {
  font-size: 3rem;
}

.initScroll p strong {
  color: #333;
}

.initScroll::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  inset: 0 0 0 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
}

.initScroll a {
  width: 45px;
  height: 45px;
  padding: 7px;
  border: none;
  margin: 2rem 0 0;
  border-radius: 50%;
  position: relative;
  -webkit-animation: initScro 0.7s infinite;
          animation: initScro 0.7s infinite;
  border: 1px solid #fff;
}

.initScroll a svg {
  color: #333;
}

.initScroll a:hover {
  background: #fff;
  border-color: #333;
  -webkit-transition: background 0.3s, border .3s, -webkit-animation 0.6s ease-out;
  transition: background 0.3s, border .3s, -webkit-animation 0.6s ease-out;
  transition: background 0.3s, border .3s, animation 0.6s ease-out;
  transition: background 0.3s, border .3s, animation 0.6s ease-out, -webkit-animation 0.6s ease-out;
}

.header {
  top: 0px;
  z-index: 2;
  width: 100%;
  position: absolute;
}

.header h2 span {
  color: #999;
  font-size: 2.0rem;
}

.header ul.nav {
  display: block;
}

.header ul.nav li {
  margin: 0 0 0 1rem;
  display: inline-block;
}

.header ul.nav li:first-child {
  margin: 0px;
}

.header ul.nav li a {
  color: #999;
}

.header ul.nav li a:hover, .header ul.nav li a.on {
  color: #333;
}

.header ul.nav.onMobile {
  left: 0px;
  width: 50vw;
  bottom: 0px;
  opacity: 1;
  padding: 2rem;
  height: 100vh;
  position: fixed;
  background: #eee;
  display: block !important;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: opacity 2s ease-in-out, -webkit-transform 3s;
  transition: opacity 2s ease-in-out, -webkit-transform 3s;
  transition: transform 3s, opacity 2s ease-in-out;
  transition: transform 3s, opacity 2s ease-in-out, -webkit-transform 3s;
  -webkit-animation-timing-function: cubic-bezier(0.95, 0.05, 0.8, 0.04);
          animation-timing-function: cubic-bezier(0.95, 0.05, 0.8, 0.04);
}

.header ul.nav.onMobile li {
  display: block;
  margin: 0 0 1rem 0;
}

.header ul.nav.onMobile li:first-child {
  margin: 1rem 0;
}

.header menu.lista .icons a {
  color: #333;
  cursor: pointer;
  margin: 0 1.5rem 0 0;
  display: inline-block;
}

.header menu.lista .icons a:last-child {
  margin: 0px;
}

.header menu.lista .icons a.login-href {
  color: #333;
  border-bottom: 1px solid #999;
}

.header menu.lista .icons a.login-href:hover {
  -webkit-transition: background .2s, color .5s ease-out;
  transition: background .2s, color .5s ease-out;
}

.header menu.lista .icons a i {
  font-size: 1.1rem;
}

.header menu.lista .icons a.cart {
  position: relative;
}

.header menu.lista .icons a.cart i {
  position: relative;
}

.header menu.lista .icons a.cart i small {
  top: -2px;
  rigth: -2px;
  font-size: 9pt;
  position: absolute;
  font-style: normal;
}

@-webkit-keyframes bounce {
  from {
    opacity: 0.2;
    background: #ddd;
    -webkit-transform: translateY(-50vh) rotateY(45deg) scale(2.5);
            transform: translateY(-50vh) rotateY(45deg) scale(2.5);
  }
  80% {
    opacity: .2;
    background: #666;
    ransform: translateY(80vh) rotate(145deg) scale(1.8);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0) rotate(0deg) scale(1.5);
            transform: translateX(0) rotate(0deg) scale(1.5);
  }
}

@keyframes bounce {
  from {
    opacity: 0.2;
    background: #ddd;
    -webkit-transform: translateY(-50vh) rotateY(45deg) scale(2.5);
            transform: translateY(-50vh) rotateY(45deg) scale(2.5);
  }
  80% {
    opacity: .2;
    background: #666;
    ransform: translateY(80vh) rotate(145deg) scale(1.8);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0) rotate(0deg) scale(1.5);
            transform: translateX(0) rotate(0deg) scale(1.5);
  }
}
/*# sourceMappingURL=styler.css.map */